<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90756245501-ijous96vlh3khek1msojqc1ml5v9inh8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90756245501-ijous96vlh3khek1msojqc1ml5v9inh8</string>
	<key>API_KEY</key>
	<string>AIzaSyAsGAzTOqATwYoBL7CU7BHqq_U10pZGTs0</string>
	<key>GCM_SENDER_ID</key>
	<string>90756245501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.demo.pg.cap.ng</string>
	<key>PROJECT_ID</key>
	<string>crashlytics-angular-hybrid-app</string>
	<key>STORAGE_BUCKET</key>
	<string>crashlytics-angular-hybrid-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90756245501:ios:533ad080ba39b06fba5b94</string>
</dict>
</plist>